Django>=3.0,<4.0
djangorestframework
django-storages==1.8
psycopg2-binary>=2.8
celery
redis
markdown
django-cors-headers==3.2.1
django-cors-middleware==1.5.0
django-filter
graphene-django
gunicorn==20.0.4
django-heroku==0.3.1
Pillow==6.2.0
python-decouple==3.4